database.yml
app.yml
tmp/
log/
public/pics
public/user_icons
public/book_icons
public/images/barcodes
public/homepage_event_icons
public/contests_files
public/contests_pics
public/contests_event_pics
public/channels
public/sitemap*
private/
db/schema.rb
*.swp
db/*.sqlite3
sphinx.yml
db/sphinx
config/development.sphinx.conf
config/httperf.yml
doc/import
