<h1>All Posts</h1>

<table>
  <tr>
    <th>Body</th>
    <th>排序-asc</th>
    <th>排序-desc</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.body %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New post', new_post_path %>
